// Mixins


// Variables
@sx-blue: #1593ca;
@sx-green: #56aa54;
@sx-orange: #f1a15c;
@sx-grey: #8e979d;

// Styles
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-flow: row wrap;
}

.header {
  flex-basis: 100%;
}

.main, .sidebar {
  min-height: 800px;
}

.main {
  flex: 4;
  order: 3;
  padding-right: 50px;
  overflow-y: auto;
  background-color: white;
  padding-left: 30px;
  padding-top: 10px;
  border-left: 1px solid #ddd;
}

.sidebar {
  flex: 1;
  order: 1;
  padding-top: 30px;

  &.sidebar-right {
    order: 3;
  }
}

.breadcrumbs {
  padding-right: 30px;

  > div {
    color: white;
    opacity: 0.8;
    background-color: darken(@sx-orange, 40%);
    padding: 8px;
    width: 65%;
    transition: width .25s linear, color .25s ease, opacity .25s ease;
    border-radius: 0px 2px 2px 0px;
    box-shadow: 0px 4px 2px -2px rgba(0,0,0,.15);

    &::after {
      content: '';
      border-right: 18px solid darken(@sx-orange, 10%);
      border-bottom: 18px solid transparent;
      border-top: 18px solid transparent;
      margin-top: -8px;
      margin-right: -8px;
      visibility: hidden;
    }

    &.selected {
      background-color: @sx-orange;
      opacity: 1;
      width: 90%;

      &::after {
        float: right;
        visibility: visible;
        transition: all .25s linear;
      }
    }


    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

#title-bar {
  display: flex;
  flex-flow: row;
  align-items: center;

  .logo {
    flex: 1;
    order: 1;

    img {
      display: block;
      margin: auto;
      max-width: 160px;
      max-height: 160px;
      border-bottom: 1px solid #ddd;
    }
  }

  .title-buttons {
    flex: 4;
    order: 2;
    background-color: darken(@sx-blue, 10%);
    border-left: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;
    > button {
      margin-right: 20px;
    }

  }
}

.title-button {
  padding: 0px;
  border-radius: 2px;
  border: none;
  height: 50px;
  box-shadow: 0px 4px 2px -2px rgba(0,0,0,.15);
  cursor: pointer;

  .title-button--icon, .title-button--text {
    transition: background-color .25s ease-in-out;
  }

  .title-button--icon {
    border-radius: 2px 0px 0px 2px;
    float: left;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darken(@sx-blue, 5%);
    i {
      color: white;
    }
  }

  .title-button--text {
    border-radius: 0px 2px 2px 0px;
    background-color: @sx-blue;
    color: white;
    padding-right: 15px;
    padding-left: 10px;
    float: right;
    line-height: 50px;
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &.selected {
  }

  &:hover, &.selected {
    .title-button--icon {
      background-color: lighten(@sx-blue, 2.5%);
    }

    .title-button--text {
      background-color: lighten(@sx-blue, 5%);
    }
  }

  &:active {
    border-style: none;
  }
}

#edit-config {
  .parsing-indicator {
    display: inline-block;
  }

  button {
    width: 190px;
  }

  .dir-name, .parsing-indicator {
    margin-left: 45px;
  }

  .dir-name {
    width: 300px;
    display: inline-block;
  }

  #edit-config-update {
    margin-top: 10px;
    text-align: center;
  }
}

.progress-bar {
  padding: 5px;
  height: 15px;
  width: 200px;
  border-radius: 5px;

  span {
    background-color: @sx-green;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    transition: width .4s ease-in-out;    
    width: 0%;
  }

}

.executing-panel {
  height: 125px;
}

.wizard-info-panel:not(:nth-child(2)) {
  margin-top: 30px;
}

.wizard-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.wizard-button-nav {
  margin-top: 20px;
}

button.success {
  background-color: @sx-green;
  color: white;

  &:hover, &:focus {
    background-color: lighten(@sx-green, 5%);
    color: white;
  }
}
